# Local environment variables
.env
/env

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform plan files
*.tfplan

# Terraform lock files
.terraform.lock.hcl

# Terraform workspace files
.terraform/